.body-login {
    background-color: #273B69;
}

.logo-acade{
    width: 25%;
    margin: auto;
}

.card-form{
    background-color: #D5D5D5;
}

.form-login {
    text-align: left;
    display: grid;
}

.form-login>button {
    width: 50%;
    margin: auto;
    background-color: #93bc35;
    border: #93bc35 2px solid !important;
}

.error-form{
    color: red;
    text-align: right;
}

.logo-unimon{
    width: 15%;
    margin: auto;
}

#sun{
    width: 10%;
    position: absolute;
    left: 8%;
    top: 5%;
    margin: -3% 0 0 -3%;
    z-index: 100000 !important;
}
#panel{
    width: 15%;
    position: absolute;
    left: 0;
    top: 1%;
    transform: rotate(176deg);
    margin: -1% 0 0 -1%;
}