<div class="container text-center">
  <div class="row mt-5 mb-4 justify-content-center">
    <a href="/admistrativo/registrar/profesores" class="card acade-card col-3 ms-5">
      <div class="row justify-content-center acade-doc-dash">
        <div class="col-12">
          
          <img src="https://cdn-icons-png.flaticon.com/128/8521/8521787.png" class="card-img-top" alt="...">
        </div>
        <h4 class="col-12">Registrar Profesores</h4>
      </div>
    </a>
    <a href="/admistrativo/consultar/profesores" class="card acade-card col-3 ms-5 ">
      <div class="row justify-content-center acade-doc-dash">
        <div class="col-12">
         
          <img src="https://cdn-icons-png.flaticon.com/128/9422/9422819.png" class="card-img-top" alt="...">
        </div>
        <h4 class="col-12">Consultar Profesores</h4>
      </div>
    </a>
  </div>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
<a href="/" type="button" class="btn btn-danger">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
</svg>  Atrás</a>
</div>
  </div>
</div>
</a>