<div class="container text-center">
  <div class="row mt-5 mb-4 justify-content-center">
    <a href="/admistrativo/registrar/profesores" class="card acade-card col-3 ms-5">
      <div class="row justify-content-center acade-doc-dash">
        <div class="col-12">
          
          <i class="bi bi-person-plus"></i>
        </div>
        <h4 class="col-12">Registrar Profesores</h4>
      </div>
    </a>
    <a href="/admistrativo/consultar/profesores" class="card acade-card col-3 ms-5 ">
      <div class="row justify-content-center acade-doc-dash">
        <div class="col-12">
         
          <i class="bi bi-search"></i>
        </div>
        <h4 class="col-12">Consultar Profesores</h4>
      </div>
    </a>
  </div>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
  <a href="/" type="button" class="btn btn-danger">
    <i class="bi bi-arrow-left"></i>
    Atrás
  </a>
</div>