!DOCTYPE html>
<html lang="es"> <!--Lenguaje a manejar -->

<head>
    <meta charset="utf-8"/> 
    <meta name="description"content="LOGIN"/>
    <meta name="keywords" content="estudiantes, estudiante, profesor, enseñanza"/>

<title>Academu-go</title>
<link href="diseno_log.css" rel="stylesheet">  <!--Aqui se carga el archivo CSS -->
<script src="---"></script>  <!--Aqui se carga el archivo Js -->
<link rel="icon" type="image/png" href="https://img.freepik.com/vector-gratis/coleccion-elementos-diseno-plano-celebracion-dia-conocimiento_23-2150671912.jpg?size=338&ext=jpg&ga=GA1.1.1803636316.1701216000&semt=ais">
</head>

<body>
<h1>ACADEMU-GO</h1>

<h2 id="form_t">INICIO DE SESIÓN</h2>
<form>
<label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Iniciar sesión">

</form> 









</body>
</html>