

<h1>Por vavor, digita las notas:</h1>
<link rel="stylesheet" href="/assets/css/docentes/cargar_notas.css">
<table class="container">
	<thead>
		<tr>
			<th><h1>Sites</h1></th>
			<th><h1>Primer corte</h1></th>
			<th><h1>Segundo corte</h1></th>
			<th><h1>Tercer corte</h1></th>
            <th><h1>Promedio:</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Hernan Jambooz </td>
			<td>000</td>
			<td>000</td>                      
			<td>000</td>
            <td>000</td>
		</tr>
		<tr>
			<td>Duvan Morato</td>
			<td>000</td>
			<td>000</td>
			<td>000</td>
            <td>000</td>
		</tr>
		<tr>
			<td>Jorge Orozco</td>
			<td>000</td>
			<td>000</td>
			<td>000</td>
            <td>000</td>
		</tr>
    <tr>
			<td>Edrian Sandoval</td>
			<td>000</td>
			<td>000</td>
			<td>000</td>
            <td>000</td>
		</tr>
    <tr>
			<td>Yulieth Saavedra</td>
			<td>000</td>
			<td>000</td>
			<td>000</td>
            <td>000</td>
		</tr>
    <tr>
			<td>Jersson</td>
			<td>000</td>
			<td>000</td>
			<td>000</td>
            <td>000</td>
		</tr>
	</tbody>
</table>