<style>
  body {
    text-align: center;
  }

  .boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .boton:hover {
    background-color: #00db1d;
    border-color: #0056b3;
  }

  .card {
    border-width: 3px;
    background-color: azure;
    border-color: #20c997;
    position: relative;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 15px 15px;
    cursor: pointer;
    border-radius: 35px;
  }

  h3 {
    font-size: 3em;
  }

  .card:hover {
    transform: scale(1.2);
    border-color: #0056b3;
    transition-duration: 1.2s;

  }
</style>
<div class="style">
  <div class="d-flex justify-content-center align-items-center mt-0 mb-1">
    <a href="/docentes/cargar_notas/7">
      <div class="card" href="/docentes/cargar_notas" style="width: 18rem;">
        <img src="https://cdn-icons-png.flaticon.com/128/3075/3075908.png" class="card-img-top" alt="...">
        <div class="card-body">
    </a>
    <h3 class="card-title">CARGAR NOTAS</h3>
  </div>
</div>
 </div>
</div>

<div class="style">
  <div class="d-flex justify-content-center align-items-center mt-0 mb-1">
    <a href="/docentes/notas y promedio">
      <div class="card" href="/docentes/notas y promedio" style="width: 18rem;">
        <img src="https://cdn-icons-png.flaticon.com/128/3075/3075908.png" class="card-img-top" alt="...">
        <div class="card-body">
    </a>
    <h3 class="card-title">VER PROMEDIO</h3>
  </div>
</div>
 </div>
</div>