

<div class="container text-center">
    <div class="row mt-5 mb-4 justify-content-center">
        <a href="/docentes/cargar/materias" class="card acade-card col-3 ms-5 pe-3">
            <div class="row justify-content-center acade-doc-dash">
                <div class="col-2">
                    {{!-- <img src="https://cdn-icons-png.flaticon.com/128/3075/3075908.png" alt="..."> --}}
                    <i class="bi bi-book-half"></i></i>
                </div>
                <h4 class="col-9">CARGAR NOTAS</h4>
            </div>
        </a>
        <a href="/docentes/consultar/materias" class="card acade-card col-3 ms-5 pe-3">
            <div class="row justify-content-center acade-doc-dash">
                <div class="col-2">
                    <i class="bi bi-card-checklist"></i>
                </div>
                <h4 class="col-10">CONSULTAR NOTAS</h4>
            </div>
        </a>
    </div>
</div>