{{!-- <style>
  body {
    text-align: center;
  }

  .boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .boton:hover {
    background-color: #00db1d;
    border-color: #0056b3;
  }
  
  .card {
    border-width: 3px;
    background-color: azure;
    border-color: #20c997;
    position: relative;
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 40px;
  }

  h3 {
    font-size: 3em;
  }

  .card:hover {
    transform: scale(1.2);
    border-color: #0056b3;
    transition-duration: 1.s;

  }
</style> --}}
{{!-- <div class="style">
  <div class="d-flex justify-content-center align-items-center mt-0 mb-1">
    <a href="/docentes/cargar_notas/7">
      <div class="card" href="/docentes/cargar_notas" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">CARGAR NOTAS</h3>
        </div>
      </div>
    </a>
     
  </div>
</div>

<div class="style">
  <div class="d-flex justify-content-center align-items-center mt-0 mb-1">
    <a href="/docentes/cargar_notas/7">
      <div class="card" href="/docentes/cargar_notas" style="width: 18rem;">
        <img src="https://cdn-icons-png.flaticon.com/128/3075/3075908.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">CARGAR NOTAS</h3>
        </div>
      </div>
    </a>
  </div>
</div> --}}

{{!-- Esto seria el esquema, ahi solo es reemplazar --}}

<div class="container text-center">
    <div class="row mt-5 mb-4 justify-content-center">
        <a href="/docentes/cargar_notas/7" class="card acade-card col-3 ms-5">
            <div class="row justify-content-center acade-doc-dash">
                <div class="col-12">
                    {{!-- <img src="https://cdn-icons-png.flaticon.com/128/3075/3075908.png" alt="..."> --}}
                    <i class="bi bi-pc-display-horizontal"></i>
                </div>
                <h4 class="col-12">CARGAR NOTAS</h4>
            </div>
        </a>
        <a href="/estudiante/horario" class="card acade-card col-3 ms-5">
            <div class="row justify-content-center acade-doc-dash">
                <div class="col-12">
                    {{!-- <img src="https://cdn-icons-png.flaticon.com/128/3075/3075908.png" alt="..."> --}}
                    <i class="bi bi-pc-display-horizontal"></i>
                </div>
                <h4 class="col-12">CARGAR NOTAS 2</h4>
            </div>
        </a>
    </div>
</div>