<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <title>Iniciar sesión</title>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body class="body-login">
        <canvas id="tsparticles" data-generated="true" style="width: 100% !important; height: 100% !important; position: fixed !important; z-index: 0 !important; top: 0px !important; left: 0px !important;" aria-hidden="true" width="1903" height="509"></canvas>
        <img class="logo-acade" src="/assets/img/logo.png" alt="Icono">

        {{{body}}}
        
        <img class="logo-unimon" src="/assets/img/Unimonserrate_logo_blanco.webp" alt="Icono">
        <script type="module" src="/assets/js/particles.js"></script>
    </body>
</html>